.nav{
  font-family: 'Allison';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
color: #49ADBA;

}
.main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

  .girl {
    flex: 1;
    width: 30vw;
    height: auto;
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 40px;
    margin-bottom: 200px;
    justify-content: space-evenly;
  }
  .content .Heading{
    font-family: 'Aldrich';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 110%;
color: #49ADBA;
  }